<a href="https://colab.research.google.com/github/meagaram/Datascience-notes/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ways to Create Lists

In [ ]:
# Empty List Creation
my_list = []
# Returns the type of Data
type(my_list)

list

In [ ]:
# from user input
list_1 = input().split()
print(list_1)

Data Science is interesting
['Data', 'Science', 'is', 'interesting']

# Heterogeneous and Accepts Duplicates

In [ ]:
list_2 = [1, 2.3, "four", {'five':'six'}, 1, 2.3]
list_2

[1, 2.3, 'four', {'five': 'six'}, 1, 2.3]

# Mutable 
We can change an item in a LIST by accessing it directly as part of the assignment statement

## Insert

In [ ]:
list_3 = [1, 2, 3]

In [ ]:
list_3.append(4) # Original List gets affected. No need to save in separate list
list_3

[1, 2, 3, 4]

In [ ]:
list_3.insert(3, 3.5) # INSERT ELEMENT=3.5 IN INDEX=3 

# Original List gets affected. No need to save in separate list
list_3

[1, 2, 3, 3.5, 4]

In [ ]:
list_4 = [5, 6, 7]
list_5 = list_3 + list_4
list_5

[1, 2, 3, 3.5, 4, 5, 6, 7]

In [ ]:
list_5.extend(list_2) # Original List gets affected. No need to save in separate list
list_5

[1, 2, 3, 3.5, 4, 5, 6, 7, 1, 2.3, 'four', {'five': 'six'}, 1, 2.3]

## Update

In [ ]:
list_3

[1, 2, 3, 3.5, 4]

In [ ]:
list_3[1] = "two"
list_3[-2] = "three and a half"
list_3

[1, 'two', 3, 'three and a half', 4]

## Delete

In [ ]:
list_6 = [1, 2, 3, 1, 2, "four", 5.0]
list_6

[1, 2, 3, 1, 2, 'four', 5.0]

In [ ]:
list_6.remove(2) # Remove ELEMENT=2 ; If multiple elements are present, the first occuring element is removed
list_6

[1, 3, 1, 2, 'four', 5.0]

In [ ]:
popped_element = list_6.pop() # Removes the last element
popped_element

5.0

In [ ]:
list_6

[1, 3, 1, 2, 'four']

In [ ]:
popped_element = list_6.pop(2) # Remove element at INDEX=2
popped_element

1

In [ ]:
list_6

[1, 3, 2, 'four']

In [ ]:
list_6.clear() # Empties the list

In [ ]:
list_6

[]

In [ ]:
del(list_6) # Permanently Deletes the entire List

In [ ]:
list_6

NameError: ignored

# Ordered 
The items have a defined order, and that order will not change

In [ ]:
list_7 = list("Data Science")
list_7 # Elements are in same order as they are specified intially

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

# Sorting

In [ ]:
list_8 = [3, 6, 4.5, 6, 1, -9.8, 4]
list_8

[3, 6, 4.5, 6, 1, -9.8, 4]

In [ ]:
list_8.sort() # Original List gets affected. No need to save in separate list
list_8

[-9.8, 1, 3, 4, 4.5, 6, 6]

In [ ]:
list_8 = [3, 6, 4.5, 6, 1, -9.8, 4]
ascending_list = sorted(list_8, reverse=False) # Original List doesn't get affected. So, save in a new list
print(ascending_list)
descending_list = sorted(ascending_list, reverse=True)
print(descending_list)

[-9.8, 1, 3, 4, 4.5, 6, 6]
[6, 6, 4.5, 4, 3, 1, -9.8]

# Iterable

## Loops

In [ ]:
for item in list_8:
  print(item)

3
6
4.5
6
1
-9.8
4

## Maps

A function that tries to iterate which means doing a function and iterate in any set of iteration can be a list, dictionary, set

This is used to map a function to iterable (i.e) list,tuple etc.,
Syntax : map(<Function_name>,iterable)
For example,
If we have a function to get a square of two numbers

def square(x):
      return x**2

In this scenario, we can call the function as 
square(2) --> output would be 4

Similarly if we need to perform this activity for a list of numbers like [1,2,3,4] in this case use the map function as,

map(square,[1,2,3,4]) ---> This will return the square of each number in the list
(i.e.) [1,4,9,16]

Note : This map function would be returning an object reference only. 
If we need to view the items then we can cast it as a list()

In [ ]:
numbers = "1 2 3 4 5 6"
print(numbers)
int_list = list(map(int, numbers.split())) # split() -> splits with ' '(space) ## maps every splitted element to INT
print(int_list) 
float_list = list(map(float, numbers.split()))
print(float_list)

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

## Lambda
It takes any number of arguments, and a one expression, evaluate one expression and then given one output

In [ ]:
# LAMBDA with MAP

print(int_list)
square_list = list(map(lambda x: x*2, int_list))
print(square_list)
# Sum of Two Lists
list(map(lambda x, y: x + y, int_list, square_list))

[1, 2, 3, 4, 5, 6]
[2, 4, 6, 8, 10, 12]

[3, 6, 9, 12, 15, 18]

In [ ]:
# LAMBDA with FILTER

ages = [13, 90, 17, 59, 21, 60, 5]
list(filter(lambda age: age>18, ages))

[90, 59, 21, 60]

In [ ]:
# LAMBDA with REDUCE

from functools import reduce
list_9 = [1, 2, 3, 4, 5]
sum = reduce((lambda x, y: x + y), list_9)
print(sum)

15

# List Comprehension

In [ ]:
list_10 = [1, 2, 3, 4, 5, 6, 7, 8]
odd_list = []
even_list = []
[even_list.append(x) if x%2==0 else odd_list.append(x) for x in list_10]

[None, None, None, None, None, None, None, None]

In [ ]:
print(odd_list)
print(even_list)

[1, 3, 5, 7]
[2, 4, 6, 8]

# Remove Duplicates
To remove duplicates, convert list to set

In [ ]:
list_11 = [1, 2, 3, 1, 2, 3]
list_11

[1, 2, 3, 1, 2, 3]

In [ ]:
set(list_11)

{1, 2, 3}

# Convert to Other Data Structures

In [ ]:
set(list_11)

{1, 2, 3}

In [ ]:
tuple(list_11)

(1, 2, 3, 1, 2, 3)

In [ ]:
dict(list_11) # cannot convert List to Dict directly

TypeError: ignored

In [ ]:
#  Using Dict Comprehension
list_12 = ['a', 1, 'b', 2, 'c', 3]
{list_12[i]: list_12[i + 1] for i in range(0, len(list_12), 2)}

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
str(list_11) # Complete list becomes one string

'[1, 2, 3, 1, 2, 3]'

In [ ]:
[str(x) for x in list_11] # Every element is converted to List of Strings using List Comprehension

['1', '2', '3', '1', '2', '3']

# Zip Function

In [ ]:
alpha = ['a', 'b', 'c']
num = [1, 2, 3]
res = zip(alpha, num)
list(res)

[('a', 1), ('b', 2), ('c', 3)]

# Interview Questions

* What is the difference between Python Arrays and Lists?
* What is the difference between Lists and Tuples?
* What are List Comprehensions?
* How do you combine multiple Lists?