<a href="https://colab.research.google.com/github/meagaram/Datascience-notes/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ways to Create String

In [ ]:
# Empty String Creation
string_1 = ''
string_2 = ""
string_3 =''''''
print ('Type of string_1',type(string_1))
print ('Type of string_2',type(string_2))
print ('Type of string_3',type(string_3))

Type of string_1 <class 'str'>
Type of string_2 <class 'str'>
Type of string_3 <class 'str'>

In [ ]:
string_4 = input()
type(string_4)

Data Science

str

In [ ]:
print(string_4[2])
print(string_4[-2])

t
c

## Reversing String in Python

In [ ]:
string_4[::-1]

'ecneicS ataD'

In [ ]:
"".join(reversed(string_4))

'ecneicS ataD'

Strings are **Immutable**

We cannot add or delete str elements but we can replace values of the original string

In [ ]:
string_5 = "I like bananas"
string_5.replace("bananas", "apples")

'I like apples'

# Ordered
The items have a defined order, and that order will not change

In [ ]:
string_6 = "abcde12345"
string_6 # preserves the order

'abcde12345'

# Iterable

## Loops

In [ ]:
for char in string_6:
  print(char)

a
b
c
d
e
1
2
3
4
5

In [ ]:
for i in (var for var in [1,2,3,4,5] if var % 2 == 0):
  print(i)

2
4

# DELETING String

In [ ]:
del string_6

In [ ]:
string_6

NameError: ignored

# Escape Sequence

In [ ]:
print('''I'm from Coimbatore''')

I'm from Coimbatore

In [ ]:
print('I\'m from Coimbatore')

I'm from Coimbatore

In [ ]:
print("I'm from \"Coimbatore\"")

I'm from "Coimbatore"

In [ ]:
print("C:\\User\\Python\\Strings")

C:\User\Python\Strings

In [ ]:
print('''
Line 1
Line 2
Line 3
''')

Line 1
Line 2
Line 3

# 'in' operator

In [ ]:
print('Data' in 'Data Science is Interesting')

True

# STRING FORMATTING

In [ ]:
# Using % operator (String Formatter)

sub = "Data Science"
print("%s is %s"%(sub,"interesting"))

Data Science is interesting

In [ ]:
# Using format()

print("{2} {1} {0}".format("interesting", "is", "Data Science"))

Data Science is interesting

In [ ]:
# Using f-strings

sub = "Data Science"
print(f"{sub} is interesting")

Data Science is interesting

In [ ]:
a=5
b=10
print(f"Age is {2*(a+b)}")

Age is 30

In [ ]:
print("My name is {fname}, I'm from {city}".format(city = "Coimbatore", fname = "Meaga"))

My name is Meaga, I'm from Coimbatore

# Interview Questions

*  What is an f-string and how do you use it?
* Interpolate a variable into a string using format()
* Check if a string contains only numbers.
        '12345'.isnumeric() # True
        '1.234'.isnumeric() # False
*  Split a string on a specific character
        'Data Science--is--interesting'.split('--') # ['Data Science', 'is', 'interesting']
*  Join a list of strings into a single string, delimited by hyphens
        '--'.join(['Data Science', 'is', 'interesting']) # Data Science--is--interesting
*  Give an example of string slicing
*  Replace all instances of a substring in a string
*  What is the effect of multiplying a string by 3?
        'Data' * 3 # DataDataData
* Capitalize the first character of each word in a string
        'once upon a time there lived a ghost'.title() # Once Upon A Time There Lived A Ghost
*  Concatenate two strings
        "String 1" + " String 2" # String 1 String 2
*  What does it mean for strings to be immutable in Python?
*  Does defining a string twice (associated with 2 different variable names) create one or two objects in memory?
        # It only creates one
        animal = 'dog'
        print(id(animal)) # 4441985688
        pet = 'dog'
        print(id(pet)) # 4441985688